@import url("./normolize.css");
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap");
html {
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }
}

body,
html {
  height: 100%;
}

body {
  font-family: "Play", Helvetica, sans-serif;
  color: #292929;
  font-size: 1rem;
  line-height: 1.42;
  background: #F5F5F5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border: 0;
  cursor: pointer;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 52px;
  text-transform: uppercase;
  color: #292929;
}
@media screen and (max-width: 480px) {
  h1 {
    font-size: 2rem;
    line-height: 2.25rem;
  }
}

h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

h4 {
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
}

p {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  /*min-width: $containerWidth - 50px;*/
  overflow: hidden;
}

.container {
  margin: 0 auto;
  max-width: 940px;
  width: 95%;
  position: relative;
  min-width: 320px;
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 44.75rem;
  }
}

.hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 1.512rem 0 3.15rem 0;
}
.hero .container .hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.hero__title {
  width: 35%;
  margin-bottom: 1.386rem;
}
@media screen and (max-width: 768px) {
  .hero__title {
    margin-bottom: 1%;
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .hero__title {
    font-size: 2rem;
    line-height: 2.25rem;
    width: 60%;
    margin-bottom: 0.87rem;
  }
}
.hero__subtitle {
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 1.5625rem;
  margin-bottom: 2.268rem;
  width: 35%;
}
@media screen and (max-width: 768px) {
  .hero__subtitle {
    margin-bottom: 1.5625rem;
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  .hero__subtitle {
    font-size: 1.125rem;
    line-height: 1.25rem;
    width: 65%;
  }
}
.hero__text-section {
  position: relative;
  width: 100%;
  margin-bottom: 4.536rem;
}
@media screen and (max-width: 768px) {
  .hero__text-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
.hero__image {
  position: absolute;
  width: 31.374rem;
  height: 31.374rem;
  background: url(.././img/headphones.png) center top 0.063rem no-repeat, #FFFFFF;
  background-size: 97%;
  border-radius: 50%;
  z-index: -100;
  right: -1.37rem;
  top: -4rem;
}
@media screen and (max-width: 768px) {
  .hero__image {
    position: relative;
    right: 0%;
    top: 0%;
    width: 20.625rem;
    height: 20.625rem;
    margin-bottom: 10%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.logo {
  width: 2.5rem;
  height: 2.5rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.logo__icon {
  fill: #E01F3D;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .contacts.header__contacts {
    display: none;
  }
}

.menu {
  margin: 0 30px;
  padding-top: 7px;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.menu__item {
  display: inline-block;
  margin-right: 1.701rem;
  vertical-align: middle;
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.134rem;
  line-height: 1.89rem;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__link {
  white-space: nowrap;
}
.menu-vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  height: 100%;
}
.menu-vertical .menu__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  text-align: center;
}
.menu-vertical .menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 18.75rem;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 72px;
}

.pros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pros__lits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
.pros__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1.386rem;
}
.pros__item:last-child {
  margin-right: 0;
}
.pros__description {
  width: 6.3rem;
  line-height: 1.134rem;
}
.pros__image {
  margin-right: 1.134rem;
  width: 2.583rem;
  height: 2.583rem;
}
@media screen and (max-width: 768px) {
  .pros {
    display: none;
  }
}

.btn {
  display: inline-block;
  text-align: center;
  background: #E01F3D;
  color: #ffffff;
  padding: 18px 41px;
  border-radius: 100px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.contacts {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 1.134rem;
}
.contacts__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
}
.contacts__image {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 1.008rem;
  margin-right: 0.378rem;
}
.contacts__image--red {
  width: 0.75rem;
  height: 0.75rem;
}
@media screen and (max-width: 768px) {
  .contacts__image--red {
    fill: #E01F3D;
  }
}
@media screen and (max-width: 480px) {
  .contacts__image--red {
    fill: black;
  }
}
@media screen and (max-width: 768px) {
  .contacts__phone--red {
    color: #E01F3D;
  }
}
@media screen and (max-width: 480px) {
  .contacts__phone--red {
    color: black;
  }
}

.header__contacts .contacts__phone {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__contacts .contacts__image {
  height: 14px;
}

.why {
  background: #ffffff;
}
.why .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.why__subtitle {
  color: #666666;
  width: 55%;
  text-align: center;
  margin-bottom: 3.465rem;
}
@media screen and (max-width: 768px) {
  .why__subtitle {
    width: 80%;
  }
}
.why__main-title {
  text-align: center;
  margin-bottom: 1rem;
}

.benifits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media screen and (max-width: 480px) {
  .benifits__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 1rem 0 0.5rem;
  }
}

.benifints__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 0 3%;
  text-align: center;
}
.benifints__item::after {
  content: url(.././img/separator.svg);
  position: absolute;
  width: 4.25rem;
  height: 1.375rem;
  right: 0;
  top: 20%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
@media screen and (max-width: 768px) {
  .benifints__item::after {
    display: none;
  }
}
.benifints__item:last-child::after {
  display: none;
}
.benifints__item:first-child {
  padding-left: 0;
}
.benifints__item:last-child {
  padding-right: 0;
}
@media screen and (max-width: 480px) {
  .benifints__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1.9375rem;
    padding: 0;
  }
  .benifints__item:last-child {
    margin-bottom: 0;
  }
}

.benifints__image {
  display: block;
  width: 3.5rem;
  height: 3.75rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.benifits__image-wrapper {
  position: relative;
  width: 8.064rem;
  height: 8.064rem;
  background: #F2F5F4;
  border-radius: 50%;
  margin-bottom: 1.512rem;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media screen and (max-width: 480px) {
  .benifits__image-wrapper {
    margin-bottom: 0;
    margin-right: 0.75rem;
  }
}

.benifits__title {
  white-space: nowrap;
  margin-bottom: 0.378rem;
}
@media screen and (max-width: 480px) {
  .benifits__title {
    text-align: left;
    white-space: normal;
  }
}

.benifits__description {
  line-height: 1.197rem;
  text-align: center;
  width: 100%;
  color: #666666;
}
@media screen and (max-width: 480px) {
  .benifits__description {
    text-align: left;
    width: auto;
  }
}

.reviews {
  background: #FFF;
}
.reviews .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}
.reviews__pager-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.reviews__list {
  min-height: 282px;
}
.reviews__pager {
  position: relative;
  z-index: 10;
}

.main__title--reviews {
  position: relative;
  margin-bottom: 1.89rem;
}
@media screen and (max-width: 480px) {
  .main__title--reviews {
    font-size: 2rem;
    line-height: 2.25rem;
  }
}

.review {
  position: absolute;
  opacity: 0;
  -webkit-transform: opacity 0.4s;
          transform: opacity 0.4s;
}
.review__content {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding: 4.725rem 6.615rem 1.575rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 768px) {
  .review__content {
    padding: 0;
  }
}
.review__title {
  font-weight: 700;
  font-size: 1.512rem;
  line-height: 1.764rem;
  margin-bottom: 1.89rem;
}
@media screen and (max-width: 768px) {
  .review__title {
    margin-bottom: 0;
  }
}
.review__content-text {
  max-width: 100%;
  color: #666666;
  margin-bottom: 2.394rem;
}
@media screen and (max-width: 768px) {
  .review__content-text {
    padding: 1rem 1.5rem;
    margin-bottom: 0;
  }
}
.review__username {
  font-weight: 700;
  font-size: 1.134rem;
  line-height: 1.323rem;
}
@media screen and (max-width: 768px) {
  .review__username {
    margin-bottom: 1.875rem;
    font-family: "Play";
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.5rem;
  }
}
.review__pager-item {
  margin-right: 0.441rem;
}
.review__pager-item:last-child {
  margin-right: 0;
}
.review__pager-item.active .review__pager-image {
  border: 0.252rem solid #E01F3D;
}
.review__pager-image {
  height: 4.662rem;
  width: 4.662rem;
  border-radius: 50%;
  overflow: hidden;
}
@media screen and (max-width: 480px) {
  .review__pager-image {
    height: 4rem;
    width: 4rem;
  }
}
.review__pager-link {
  cursor: pointer;
}

.review.active {
  position: relative;
  opacity: 1;
  background: #F8FAF9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.26rem;
  -webkit-transform: opacity 0.4s;
          transform: opacity 0.4s;
}
@media screen and (max-width: 768px) {
  .review.active {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

.avatar {
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.75rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 2.646rem 2.52rem 2.646rem 2.646rem;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .avatar {
    padding: 3.5rem 0rem 3.125rem 0rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .avatar .avatar__img {
    width: 19%;
  }
}
@media screen and (max-width: 768px) {
  .avatar .avatar__img {
    width: 30%;
  }
}

.delivery {
  background: url(.././img/bg.png) bottom no-repeat, #161616;
  background-size: 80%;
  color: #FFFFFF;
}
.delivery .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  background-size: 93%;
}
@media screen and (max-width: 480px) {
  .delivery .container {
    padding: 0;
  }
}
.delivery__main-title {
  margin-bottom: 3.843rem;
  text-align: center;
  color: #FFFFFF;
}
@media screen and (max-width: 768px) {
  .delivery__main-title {
    margin-bottom: 2rem;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  padding: 0 0.3125rem 0 0.3125rem;
}
.form__column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 50%;
}
.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.875rem;
  width: 100%;
}
.form__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form__input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 0.8125rem;
  border-radius: 0.25rem;
  border: none;
  background: #fff;
  height: 3.625rem;
  font-size: 1.125rem;
  color: #202123;
}
.form__input:focus-visible {
  outline: none;
  border: 0.1875rem solid #E01F3D;
}
.form__input.active {
  outline: none;
  border: 0.1875rem solid #a3182d;
}
.form__column:nth-child(2) > .form__item {
  width: 98%;
}
.form__row:nth-child(1) > .form__item {
  width: 50%;
}
.form__row:nth-child(2) > .form__item {
  width: 99.5%;
}
.form__row:nth-child(3) > .form__item {
  width: 25%;
}
.form__input--normal {
  width: 95%;
}
.form__item__label {
  margin-bottom: 0.375rem;
}
.form__item:nth-child(2) > .form__input--normal {
  margin-right: 0;
}
.form__item:nth-child(4) > .form__input--short {
  margin-right: 0;
}
.form__input--long {
  margin-right: 0;
  width: 98%;
}
.form__input--short {
  margin-right: 0.75rem;
  width: 90%;
}
.form__input--short:nth-child(4) {
  margin-right: 0;
}
.form__input--textarea {
  width: 100%;
  height: 9.875rem;
  margin-bottom: 2.25rem;
  margin-right: 0;
}
.form__column {
  margin-right: 1.625rem;
}
.form__item__label--radio {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.form__item__label--radio::before {
  content: "";
  display: inline-block;
  width: 1.5625rem;
  height: 1.5625rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  background: #ffffff;
  border-radius: 50%;
  margin-right: 0.625rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.form__item__label--checkbox {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.form__item__label--checkbox::before {
  content: "";
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  background: #ffffff;
  border-radius: 0.25rem;
  margin-right: 0.625rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.form__btn--fat {
  padding: 1.25rem 2.5rem;
}

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2.75rem;
}
.controls__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}
.controls__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1.5rem;
}
.controls__radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.controls__radio:checked + .form__item__label--radio::before {
  outline: none;
  background: #E01F3D;
  border: 0.375rem solid #ffffff;
  width: 0.8125rem;
  height: 0.8125rem;
}
.controls__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.controls__checkbox:checked + .form__item__label--checkbox::before {
  background: url(../img/checkmark.svg) center no-repeat, #ffffff;
}

.btn--color--transparent {
  background: transparent;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1875rem;
  text-transform: none;
  padding: 0rem 0.9375rem;
}

@media screen and (max-width: 768px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .form__column {
    margin-right: 0;
    width: 68%;
  }

  .form__input {
    height: 2.3125rem;
  }

  .main__title--delivery {
    margin-bottom: 2rem;
  }

  .form__btns {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .form__input--textarea {
    height: 5.1875rem;
    margin-bottom: 0.8125rem;
  }

  .btn--color--transparent {
    color: #E01F3D;
  }

  .controls {
    margin-bottom: 1.375rem;
  }
}
@media screen and (max-width: 480px) {
  .form__column {
    width: 100%;
  }

  .form__input--short {
    margin-right: 0.625rem;
  }

  .form__btns {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .controls {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.section {
  height: 100vh;
  min-height: 38.125rem;
}

.fixed-menu {
  position: fixed;
  top: 40%;
  right: 3%;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}
.fixed-menu__item {
  margin-bottom: 0.315rem;
}
.fixed-menu__item--active .fixed-menu__link {
  opacity: 1;
  border: 0.063rem solid #E01F3D;
}
.fixed-menu__item--active .fixed-menu__link:before {
  opacity: 1;
  background: #E01F3D;
}
.fixed-menu__link {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.063rem solid transparent;
  display: block;
  position: relative;
  opacity: 0.6;
}
.fixed-menu__link::before {
  content: "";
  opacity: 0.6;
  background: #292929;
  display: block;
  width: 0.378rem;
  height: 0.378rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hamburger {
  width: 27px;
  height: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}
.hamburger__plank {
  display: block;
  background: #292929;
  height: 4px;
  border-radius: 10px;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.25rem;
}
.footer__contacts__phone {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__address {
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 1.5rem;
}
@media screen and (max-width: 480px) {
  .footer__address {
    margin-bottom: 0.75rem;
  }
}
.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 5.375rem;
}
@media screen and (max-width: 480px) {
  .footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1.25rem 0 1.9375rem 0;
  }
}
@media screen and (max-width: 480px) {
  .footer .container__contacts {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer .container__contacts .contacts {
  padding: 0;
  margin-bottom: 1.1875rem;
}
.footer .container__contacts .contacts__phone {
  padding: 0;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.contacts__phone--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.625rem;
  width: 1.875rem;
  height: 1.875rem;
  position: relative;
}
@media screen and (max-width: 480px) {
  .socials__item {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__img {
  width: 100%;
  height: 100%;
  fill: #B3B3B3;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.socials__img:hover {
  fill: #000;
}

.socials__link {
  display: block;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.info {
  background: url(../img/map.png) center center no-repeat;
  background-size: cover;
  width: 100%;
}
.info .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  position: relative;
}

.info.section {
  height: 100%;
}

.map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90wv;
  height: 652px;
}
@media screen and (max-width: 768px) {
  .map {
    height: 526px;
  }
}
@media screen and (max-width: 480px) {
  .map {
    height: 482px;
  }
}
.map__image {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../img/map.svg") center center no-repeat;
  background-size: cover;
}

.shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F8FAF9;
}
.shop .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1030px;
  width: 100%;
}
.shop__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4.125rem 0;
}
@media screen and (max-width: 768px) {
  .shop__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.shop__desc {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .shop__desc {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .shop__desc-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .shop__features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.shop__func {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 91px;
  height: 91px;
  background: #9A9A9A;
  border-radius: 4px;
  margin-bottom: 1.5625rem;
}
.shop__func-image {
  display: block;
  width: 2.8125rem;
  height: 2.8125rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  fill: #fff;
}
@media screen and (max-width: 768px) {
  .shop__func {
    display: none;
  }
}
.shop__specs {
  background: rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
          box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  width: 273px;
  height: 294px;
  display: block;
  border-radius: 4px;
  position: absolute;
  opacity: 0;
  top: -999999px;
  left: 91px;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}
.shop__pager {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.shop__pager--left {
  position: relative;
  margin-right: 2.0625rem;
}
@media screen and (max-width: 768px) {
  .shop__pager--left {
    height: 50%;
    right: 80%;
  }
}
@media screen and (max-width: 480px) {
  .shop__pager--left {
    right: 95%;
    margin-right: 0;
  }
}
.shop__pager--right {
  position: relative;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-right: 2.0625rem;
}
@media screen and (max-width: 768px) {
  .shop__pager--right {
    height: 50%;
    left: 84%;
  }
}
@media screen and (max-width: 480px) {
  .shop__pager--right {
    left: 95%;
    margin-right: 0;
  }
}
@media screen and (max-width: 768px) {
  .shop__pager {
    position: absolute;
    z-index: 2;
  }
}
.shop__pager-img {
  fill: #000;
  width: 0.875rem;
  height: 1.6875rem;
}
.shop__title {
  font-size: 2.25rem;
  line-height: 2.625rem;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 768px) {
  .shop__title {
    font-size: 28px;
    line-height: 32px;
  }
}
@media screen and (max-width: 480px) {
  .shop__title {
    width: 26rem;
  }
}
.shop__text {
  color: #666666;
  width: 80%;
  margin-bottom: 1.6875rem;
}
.shop__main-image {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: block;
  width: 28.25rem;
  height: 28.25rem;
  border-radius: 50%;
  background: url(.././img/shop_headphones.png) left 2.5rem top 3.75rem no-repeat, #FFFFFF;
  background-size: 80%;
  margin-right: 3.75rem;
}
@media screen and (max-width: 768px) {
  .shop__main-image {
    background-position: 30px;
    width: 19.125rem;
    height: 19.125rem;
    margin-bottom: 3.125rem;
    margin-right: 0px;
  }
}
.shop__main-image--red {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: block;
  width: 28.25rem;
  height: 28.25rem;
  border-radius: 50%;
  background: url(.././img/shop_headphones_red.png) left 2.5rem top 3.75rem no-repeat, #FFFFFF;
  background-size: 80%;
  margin-right: 3.75rem;
}
@media screen and (max-width: 768px) {
  .shop__main-image--red {
    background-position: 30px;
    width: 19.125rem;
    height: 19.125rem;
    margin-bottom: 3.125rem;
    margin-right: 0px;
  }
}
.shop__buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.shop__price {
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 3.75rem;
  margin-right: 0.9375rem;
}
@media screen and (max-width: 768px) {
  .shop__price {
    margin-right: 1.875rem;
  }
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 2.875rem;
}
.feature__title {
  color: #666666;
  margin-bottom: 0.0625rem;
}
.feature__item {
  margin-right: 5.625rem;
}
@media screen and (max-width: 768px) {
  .feature__item {
    text-align: start;
    margin-left: 1.875rem;
    margin-right: 3.125rem;
  }
}
.feature__text {
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.3125rem;
}

.bx-wrapper {
  border: 0;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.fullscreen-menu {
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  background: #666666;
  position: fixed;
  z-index: 200;
}
.fullscreen-menu__close {
  position: absolute;
  right: 2.625rem;
  top: 2.625rem;
  fill: #FFF;
}
.fullscreen-menu__close-image {
  width: 1.25rem;
  height: 1.25rem;
}

.specs__list {
  padding: 28px 25px 24px 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
}

.specs__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.spec__icon-wrapper {
  width: 2rem;
  height: 2rem;
  margin-right: 0.75rem;
  position: relative;
}

.specs__icon {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.specs__name {
  width: 127px;
}

.specs__value {
  width: 53px;
  text-align: right;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.team__section {
  background-color: #FFF;
}
.team__section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}
.team__member {
  overflow: hidden;
  width: 13.75rem;
  height: 18.125rem;
  margin-bottom: 1.5625rem;
}
.team__member:last-child {
  margin-right: 0px;
}
.team__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  background-color: #FFF;
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #292929;
  margin-bottom: 0.6875rem;
}
.team__title-arrow {
  position: relative;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  margin-left: 5px;
  width: 9px;
  height: 9px;
  fill: #365A49;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.team__title-arrow.active {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}
.team__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 1.25rem;
  position: relative;
  width: 100%;
}
.team__content {
  overflow: hidden;
  text-align: center;
  position: absolute;
  top: 100%;
  height: 0%;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}
.team__content-role {
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 4px;
}
.team__content-desc {
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #666666;
}
.team__content.active {
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
  height: 100%;
}

.section-title {
  text-align: center;
  margin-bottom: 3.3125rem;
}

.team__list--mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .team__list--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .team__list--desktop {
    display: none;
  }
  .team__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    top: 0;
    left: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    max-width: 13.75rem;
    height: 0;
  }
  .team__content.active {
    height: 100%;
  }
  .team__content-role {
    font-family: "Play";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
  }
  .team__item {
    margin-bottom: 1.25rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 0px;
  }
  .team__title {
    font-family: "Alegreya Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 1.31363125rem;
    line-height: 1.5625rem;
  }
}
@media screen and (max-width: 480px) {
  .team__title-arrow {
    fill: #E01F3D;
  }
}
.modal {
  background-color: rgba(48, 48, 48, 0.5);
  display: none;
  position: fixed;
  top: 0;
}
.modal__container {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal.error-modal .modal__content {
  text-align: center;
  color: red;
}
.modal__content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 19.3125rem;
  height: 11rem;
  background-color: #FFF;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.btn-close {
  margin-top: 1.125rem;
}