@import url("./normolize.css");
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap");
html {
  font-size: 16px;
}

body,
html {
  height: 100%;
}

body {
  font-family: "Play", Helvetica, sans-serif;
  color: #292929;
  font-size: 16px;
  line-height: 1.42;
  background: #F5F5F5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border: 0;
  cursor: pointer;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 52px;
  text-transform: uppercase;
  color: #292929;
}

h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

h4 {
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
}

p {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.wrapper {
  position: relative;
  width: 100%;
  min-width: 960px;
  min-height: 100%;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 95%;
  max-width: 940px;
  position: relative;
}

.hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 1.512rem 0 3.15rem 0;
}
.hero .container .hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.hero__title {
  width: 35%;
  margin-bottom: 1.386rem;
}

.hero__subtitle {
  margin-bottom: 2.268rem;
  width: 35%;
}

.hero__text-section {
  position: relative;
  width: 100%;
  margin-bottom: 4.536rem;
}

.hero__image {
  position: absolute;
  width: 31.374rem;
  height: 31.374rem;
  background: url(../img/headphones.png) center top 0.063rem no-repeat, #FFFFFF;
  background-size: 97%;
  border-radius: 50%;
  z-index: -100;
  right: -1.37rem;
  top: -4rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  margin-right: 2.394rem;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 3.024rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0.126rem;
}

.menu__item {
  display: inline-block;
  margin-right: 1.701rem;
  vertical-align: middle;
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.134rem;
  line-height: 1.89rem;
}
.menu__item:last-child {
  margin-right: 0;
}

.pros__lits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.pros__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1.386rem;
}
.pros__item:last-child {
  margin-right: 0;
}

.pros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pros__description {
  width: 6.3rem;
  line-height: 1.134rem;
}

.pros__image {
  margin-right: 1.134rem;
  width: 2.583rem;
  height: 2.583rem;
}

.btn {
  display: inline-block;
  background: #E01F3D;
  color: #ffffff;
  padding: 0.945rem 2.583rem;
  border-radius: 6.3rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 1.134rem;
}
.contacts .contacts__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contacts .contacts__image {
  width: 1.008rem;
  margin-right: 0.378rem;
}

.why {
  background: #ffffff;
}
.why .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__title {
  text-align: center;
  margin-bottom: 1rem;
}

.why__subtitle {
  color: #666666;
  width: 55%;
  text-align: center;
  margin-bottom: 3.465rem;
}

.benifits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.benifints__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-right: 5.166rem;
  max-width: 15.61rem;
}
.benifints__item::after {
  content: "";
  background: url(../img/separator.svg);
  position: absolute;
  width: 4.284rem;
  height: 1.386rem;
  right: -25%;
  top: 20%;
}
.benifints__item:last-child::after {
  display: none;
}
.benifints__item:last-child {
  margin-right: 0;
}

.benifints__image {
  display: block;
  position: absolute;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.benifits__image-wrapper {
  position: relative;
  width: 8.064rem;
  height: 8.064rem;
  background: #F2F5F4;
  border-radius: 50%;
  margin-bottom: 1.512rem;
}

.benifits__title {
  margin-bottom: 0.378rem;
}

.benifits__description {
  line-height: 1.197rem;
  text-align: center;
  width: 100%;
  color: #666666;
}

.reviews {
  background: #FFF;
}
.reviews .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.main__title--reviews {
  position: relative;
  margin-bottom: 1.89rem;
}

.review {
  background: #F8FAF9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.26rem;
}

.review__content {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding: 4.725rem 6.615rem 1.575rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.avatar {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 2.646rem 2.52rem 2.646rem 2.646rem;
  width: 100%;
  height: 100%;
}

.review__title {
  font-weight: 700;
  font-size: 1.512rem;
  line-height: 1.764rem;
  margin-bottom: 1.89rem;
}

.review__content-text {
  color: #666666;
  margin-bottom: 2.394rem;
}

.review__username {
  font-weight: 700;
  font-size: 1.134rem;
  line-height: 1.323rem;
}

.reviews__pager-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.review__pager-item {
  margin-right: 0.441rem;
}
.review__pager-item:last-child {
  margin-right: 0;
}

.review__pager-image {
  height: 4.662rem;
  width: 4.662rem;
  border-radius: 50%;
  overflow: hidden;
}

.review__pager-item--active .review__pager-image {
  border: 0.252rem solid #E01F3D;
}

.delivery {
  background: url(../img/bg.png) bottom no-repeat, #161616;
  background-size: 80%;
  color: #FFFFFF;
}
.delivery .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 4.284rem 5.103rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  background-size: 93%;
}

.main__title--delivery {
  margin-bottom: 3.843rem;
  text-align: center;
  color: #FFFFFF;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
}

.form__column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.882rem;
}

.form__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 0.819rem;
  border-radius: 0.252rem;
  border: none;
  background: #fff;
  width: 14.112rem;
  height: 3.717rem;
  font-size: 1.134rem;
  color: #202123;
}
.form__input:focus-visible {
  outline: none;
  border: 0.189rem solid #E01F3D;
}

.form__item__label {
  margin-bottom: 0.378rem;
}

.form__input--long {
  width: 28.98rem;
}

.form-input--short {
  margin-right: 0.756rem;
  width: 6.678rem;
}

.form__input--textarea {
  width: 28.35rem;
  height: 9.954rem;
  margin-bottom: 2.268rem;
}

.form__column {
  margin-right: 1.638rem;
}

.controls__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2.772rem;
}

.controls__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1.512rem;
}

.controls__radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.controls__radio:checked + .form__item__label--radio::before {
  outline: none;
  background: #E01F3D;
  border: 0.378rem solid #ffffff;
  width: 0.819rem;
  height: 0.819rem;
}

.form__item__label--radio {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.form__item__label--radio::before {
  content: "";
  display: inline-block;
  width: 1.575rem;
  height: 1.575rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  background: #ffffff;
  border-radius: 50%;
  margin-right: 0.63rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.controls__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.controls__checkbox:checked + .form__item__label--checkbox::before {
  background: url(../img/checkmark.svg) center no-repeat, #ffffff;
}

.form__item__label--checkbox {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.form__item__label--checkbox::before {
  content: "";
  display: inline-block;
  width: 1.575rem;
  height: 1.575rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  background: #ffffff;
  border-radius: 0.252rem;
  margin-right: 0.63rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.form__btn--fat {
  padding: 1.26rem 2.52rem;
}

.btn--color--transparent {
  background: transparent;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.197rem;
  text-transform: none;
  padding: 0rem 0.945rem;
}

.section {
  height: 100vh;
  min-height: 40.95rem;
}

.fixed-menu {
  position: fixed;
  top: 40%;
  right: 3%;
  z-index: 100;
}

.fixed-menu__item {
  margin-bottom: 0.315rem;
}
.fixed-menu__item--active .fixed-menu__link {
  opacity: 1;
  border: 0.063rem solid #E01F3D;
}
.fixed-menu__item--active .fixed-menu__link:before {
  opacity: 1;
  background: #E01F3D;
}

.fixed-menu__link {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.063rem solid transparent;
  display: block;
  position: relative;
  opacity: 0.6;
}
.fixed-menu__link::before {
  content: "";
  opacity: 0.6;
  background: #292929;
  display: block;
  width: 0.378rem;
  height: 0.378rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}