
.benifits__list {
    display: flex;
    justify-content: center;
    flex: 1;
    @include phones{
        flex-direction: column;
        padding: 0 1rem 0 0.5rem;
    }
}

.benifints__item {

    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 0 3%;
    text-align: center;
    
    &::after{
        content: url(././img/separator.svg);
       
        position: absolute;
        width: rem(68px);
        height: rem(22px);
        right: 0;
        top: 20%;
        transform: translateX(50%);
        @include tablets{
            display: none;
        }
    }

    &:last-child::after{
        display: none;
    }
    &:first-child {
        padding-left: 0;
    }
    &:last-child{
       padding-right: 0;
    }
    @include phones{
        flex-direction: row;
       
        align-items:center;
        margin-bottom: rem(31px);
        padding: 0;
        &:last-child{
            margin-bottom: 0;
        }
    }
}

.benifints__image {
    display: block;
    width: rem(56px);
    height: rem(60px);
    flex-shrink: 0;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
    
}

.benifits__image-wrapper {
    position: relative;
    width: 8.064rem;
    height: 8.064rem;
    background: #F2F5F4;
    border-radius: 50%;
    margin-bottom: 1.512rem;
    overflow: hidden;
    flex-shrink: 0;
    @include phones{
        margin-bottom: 0;
        margin-right: 0.75rem;
    }
}

.benifits__title {
    white-space: nowrap;
    margin-bottom: 0.378rem;
    @include phones{
        text-align: left;
        white-space: normal;
    }
}

.benifits__description {
    line-height: 1.197rem;
    text-align: center;
    width: 100%;
    color: #666666;
    @include phones{
        text-align: left;
        width: auto;
    }
    
}