.btn {
    display: inline-block;
    text-align: center;
    background: #E01F3D;
    color: #ffffff;
    padding: rem(18px) rem(41px);
    border-radius: rem(100px);
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
   
}