.contacts {
    padding-top: 10px;
    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 1.134rem;
    &__phone{
        display: flex;
        white-space: nowrap;
    }
    
    &__image {
        flex-shrink: 0;
        width: 1.008rem;
        margin-right: 0.378rem;
    }

    &__image--red {
        @include tablets{
            fill: #E01F3D;
        }
        @include phones {
            fill: black;
        }
        width: rem(12px);
        height: rem(12px);
    }

    &__phone--red {
        @include tablets{
            color: #E01F3D;
        }
        @include phones{
            color: black;
        }
    }
}
.header__contacts{
    .contacts__phone{
        align-items: center;
    }
    .contacts__image{
        height: 14px;
    }
}

