.delivery {
    background: url(.././img/bg.png)  bottom no-repeat, #161616;
    background-size: 80%;
    color:#FFFFFF;
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        background-size: 93%;
        @include phones{
            padding: 0;
        }
    }

    &__main-title{
        margin-bottom: 3.843rem;
        text-align: center;
        color: #FFFFFF;
        @include tablets{
            margin-bottom: rem(32px);
        }
    }
}