.menu{
    margin: 0 30px;
    padding-top: 7px;
    @include tablets{
        display: none;
    }
}
.menu__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.menu__item {
    display: inline-block;
    margin-right: 1.701rem;
    vertical-align: middle;
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.134rem;
    line-height: 1.89rem;
    &:last-child {
        margin-right: 0;
    }
}
.menu__link{
    white-space: nowrap;
}