.benifits__list {
    display: flex;
    justify-content: center;
}

.benifints__item {

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-right: 5.166rem;
    max-width: 15.61rem;

    &::after{
        content: "";
        background: url(../img/separator.svg);
        position: absolute;
        width: 4.284rem;
        height: 1.386rem;
        right: -25%;
        top: 20%;
    }

    &:last-child::after{
        display: none;
    }
    &:last-child{
        margin-right: 0;
    }
}

.benifints__image {
    display: block;
    position: absolute;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.benifits__image-wrapper {
    position: relative;
    width: 8.064rem;
    height: 8.064rem;
    background: #F2F5F4;
    border-radius: 50%;
    margin-bottom: 1.512rem;
}

.benifits__title {
    margin-bottom: 0.378rem;
}

.benifits__description {
    line-height: 1.197rem;
    text-align: center;
    width: 100%;
    color: #666666;
    
}