.btn {
    display: inline-block;
    background: #E01F3D;
    color: #ffffff;
    padding: 0.945rem 2.583rem;
    border-radius: 6.3rem;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
   
}