.contacts {
    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 1.134rem;
    .contacts__phone{
        display: flex;
    }
    .contacts__image {
        width: 1.008rem;
        margin-right: 0.378rem;
    }
}

