.form {
    display: flex;
    justify-items: center;

}

.form__column {
    flex: 1;
}

.form__row {
    display: flex;
    margin-bottom: 0.882rem;
}

.form__btns {
    display: flex;
}

.form__input {
    flex: 1;
    margin-right: 0.819rem;
    border-radius: 0.252rem;
    border: none;
    background: #fff;
    width: 14.112rem;
    height: 3.717rem;
    font-size: 1.134rem;
    color: #202123;

    &:focus-visible {
        outline: none;
        border: 0.189rem solid #E01F3D;
    }
}


.form__item__label {
    margin-bottom: 0.378rem;
}

.form__input--long {
    width: 28.98rem;
}

.form-input--short {
    margin-right: 0.756rem;
    width: 6.678rem;
}

.form__input--textarea {
    width: 28.35rem;
    height: 9.954rem;
    margin-bottom: 2.268rem;
}

.form__column {
    margin-right: 1.638rem;
}

.controls__list {
    display: flex;
    margin-bottom: 1rem;
}

.controls {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.772rem;
}

.controls__item {
    display: flex;
    margin-right: 1.512rem;

}

.controls__radio {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:checked+.form__item__label--radio::before {
        outline: none;
        background: #E01F3D;
        border: 0.378rem solid #ffffff;
        width: 0.819rem;
        height: 0.819rem;

    }
}

.form__item__label--radio {
    display: inline-flex;
    align-items: center;
    user-select: none;

    &::before {
        content: '';
        display: inline-block;
        width: 1.575rem;
        height: 1.575rem;
        flex-shrink: 0;
        flex-grow: 0;

        background: #ffffff;
        border-radius: 50%;
        margin-right: 0.63rem;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
    }

}

.controls__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:checked+.form__item__label--checkbox::before {
        background: url(../img/checkmark.svg) center no-repeat, #ffffff;

    }
}

.form__item__label--checkbox {
    display: inline-flex;
    align-items: center;
    user-select: none;

    &::before {
        content: '';
        display: inline-block;
        width: 1.575rem;
        height: 1.575rem;
        flex-shrink: 0;
        flex-grow: 0;

        background: #ffffff;
        border-radius: 0.252rem;
        margin-right: 0.63rem;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
    }
}

.form__btn--fat {
    padding: 1.26rem 2.52rem;
}

.btn--color--transparent {
    background: transparent;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.197rem;
    text-transform: none;
    padding: 0rem 0.945rem;
}