
.hero {
    .container{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1.512rem 0 3.15rem 0;
    .hero__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        flex-grow: 1;
    }
    }
}
.hero__title {
    width: 35%;
    margin-bottom: 1.386rem;
} 

.hero__subtitle {
    
    margin-bottom: 2.268rem;
    width: 35%;
}

.hero__text-section {
    position: relative;
    width: 100%;
    margin-bottom: 4.536rem;
}

.hero__image {
    position: absolute;
    width: 31.374rem;
    height: 31.374rem;
    
    background: url(../img/headphones.png) center top 0.063rem no-repeat, #FFFFFF;
    
    background-size: 97%;
    border-radius: 50%;
    z-index: -100;
    right: -1.37rem;
    top: -4rem;
}