.reviews{

        background: #FFF;
        .container{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
        }

}

.main__title--reviews {
    position: relative;
    margin-bottom: 1.89rem;
}

.review {
    
    background: #F8FAF9;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1.26rem;
    
}

.review__content {
    flex: 2;
    padding: 4.725rem 6.615rem 1.575rem 0rem;
    display: flex;
    flex-direction: column;
}

.avatar {
    flex: 1;
    padding: 2.646rem 2.52rem 2.646rem 2.646rem;
    width: 100%;
    height: 100%;
}

.review__title {
    font-weight: 700;
    font-size: 1.512rem;
    line-height: 1.764rem;
    margin-bottom: 1.89rem;
}

.review__content-text {
    color: $gray;
    margin-bottom: 2.394rem;
}


.review__username {
    font-weight: 700;
    font-size: 1.134rem;
    line-height: 1.323rem
}
.reviews__pager-list {
    display: flex;
}

.review__pager-item{
    margin-right: 0.441rem;
    &:last-child{
        margin-right: 0;
    }
}

.review__pager-image {
    height: 4.662rem;
    width: 4.662rem;
    border-radius: 50%;
    overflow: hidden;
    
}
.review__pager-item--active {
    .review__pager-image{
        border: 0.252rem solid #E01F3D;
    }
    
}